 /* ====banner-css===== */
 section.blanchard {
     padding-bottom: 120px;
     position: relative;
 }

 .blanchard .blan_head {
     color: #ffff;
     padding: 30px 0 90px 0;
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .blanchard .blan_head h4 {
     font-size: 14px;
     font-weight: 700;
     line-height: 12px;
     letter-spacing: 1.75px;
 }

 .blanchard .blan_head span {
     font-size: 14px;
     font-weight: 400;
     line-height: 12px;
     letter-spacing: 1.75px;

 }

 .blanchard .blan_banner {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     padding-bottom: 200px;
 }

 .blan_banner img {
     width: calc(45% - 60px);
     margin-right: 60px;
     position: absolute;
     top: 120px;
     bottom: 60px;
     left: 0;
     height: -webkit-fill-available;
 }

 .blan_banner .blan_text {
     width: 55%;
     color: #ffff;
 }

 .blan_text h2 {
     margin-bottom: 20px;
 }

 .blanchard .bottom_img {
     position: absolute;
     bottom: 0;
     right: 0;
     width: 50%;
 }

 /* =========section-two-csss=========== */
 section.why {
     padding: 118px 0 126px 0;
 }

 .why .why_content {
     display: flex;
     flex-wrap: wrap;
 }

 .why_content .why_text {
     width: calc(59% - 80px);
     margin-right: 80px;

 }

 .why_content .why_img {
     width: 41%
 }

 .why .why_img img {
     border-radius: 40px;
 }

 .why_content .why_text p {
     font-weight: 300;
     margin: 30px 0;
     color: #212121;
 }
 
 .why_content .why_text h2{
    color: #003146;
 }


 .why_content .why_text ul {
     list-style: disc;
     margin-left: 20px;

 }

 .why_content .why_text ul li {
     font-family: noto sans;
     margin-bottom: 20px;
 }

 /* =========section-three-css========= */
 section.vision {
     padding: 112px 0 105px 0;
     position: relative;
 }

 section.vision .container {
     position: relative;
 }

 section.vision::before {
     content: '';
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: #ffffff;
     border-bottom-right-radius: 150px;
 }

 .vision h2 {
     color: #003146;
     font-size: 48px;
 }

 .vision h4,
 .vision h3 {
     color: #003146;
     margin-bottom: 20px;
 }

 .vision .vision_text {
     text-align: center;
     margin: 20px 0;
 }

 .vision .mission_text {
     text-align: center;
     margin: 40px 0 20px 0;
 }

 .vision .mission_text p {
     padding: 0 264px;
 }

 .vision .value_head {
     text-align: center;
     margin: 40px 0;
 }

 .vision .our_values {
     display: flex;
     flex-wrap: wrap;
 }

 .vision .value_text {
     width: calc(25% - 23px);
     margin-right: 30px;
 }

 .vision .value_text:last-child {
     margin-right: 0;
 }

 .vision .value_text p {
     font-size: 16px;
     line-height: 28px;
 }

 .vision .bottom_text_vision {
     text-align: center;
     margin: 40px 0 0 0;
 }

 .bottom_text_vision span {
     color: #008065;
     display: inline-block;
     font-size: 19px;
 }

 .bottom_text_vision svg {
     vertical-align: sub;

 }

 /* ============section-four-css========== */
 section.developing {
     padding: 112px 0 130px 0;
 }

 .developing .people_content {
     display: flex;
     flex-wrap: wrap;
 }

 .people_content .our_text {
     width: calc(59% - 80px);
     margin-right: 80px;
     color: #ffff;
 }

 .our_text p {
     font-size: 20px;
 }

 .people_content .our_text h2 {
     font-size: 48px;
     margin-bottom: 30px;
 }

 .people_content .our_image {
     width: 41%;
 }

 .people_content .our_image img {
     border-radius: 50px;
 }

 /* ========section-five-css========== */
 section.our_people {
     padding: 115px 0 265px 0;
 }

 .hero_main {
     display: flex;
     flex-wrap: wrap;
 }

 .our_people .hero_content {
     width: calc(47% - 80px);
     margin-right: 80px;
 }

 .our_people .hero_text {
     width: 53%;
 }
  .our_people .hero_text h2{
color: #003146;
}

 .hero_text p {
     margin: 30px 0 75px 0;
     color: #212121;
 }

 .hero_content img {
     border-radius: 40px;
 }

 .hero_main .hero_text a:nth-child(2n) {
     background-color: #ffffff;
     color: #E55300;
     border: 2px solid #E55300;
     padding: 19px 48px;
     border-radius: 30px;
     font-size: 19px;
     margin-left: 50px;
 }

 /* =========section-six-css========= */
 section.working {
     padding: 124px 0 234px 0;
 }

 .working_main {
     display: flex;
     flex-wrap: wrap;
 }

 .working_main .main_text {
     width: calc(59% - 80px);
     margin-right: 80px;
 }

 .working_main .work_image {
     width: 41%;
 }

 .working_main .work_image img {
     border-radius: 50px;
 }

 .working_main .main_text h2 {
     color: #003146;
 }

 .working_main .main_text p {
     color: #212121;
     font-size: 20px;
     font-weight: 300;
     margin: 30px 0 90px 0;
 }

 .working_main .main_text a {
     padding: 21px 73px;
 }

 /* ========slider-section========== */
 section.awards {
     padding: 97px 0 120px 0;
     position: relative;
 }

 section.awards::before {
     content: '';
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: #f2f2f1;
     border-bottom-right-radius: 150px;

 }

 .awards_head {
     text-align: center;
     position: relative;
 }

 .awards_head h2 {
     color: #003146;
 }

 .awards_head p {
     font-weight: 300;
     color: #212121;
     margin: 30px 0 60px 0;
     font-size: 20px;
     padding: 0 300px;
 }

 .button_slide {
     text-align: center;
 }

 .slider_box {
     border-radius: 50px;
     padding: 25px;
 }


 .slider_box .slider_text p {
     font-size: 16px;
     font-weight: 300;
     color: #212121;
     text-align: center;
     margin: 20px 0;
 }

 .slider_image {
     text-align: -webkit-center;
 }

 /* =========section-seven========= */
 section.local {
     padding: 120px 0;
     color: #ffffff;
 }

 .local_head {
     text-align: center;
     margin: 0 0 60px 0;
 }

 .local_head p {
     margin: 30px 0;
     font-weight: 300;
     font-size: 20px;
     padding: 0 286px;
 }

 .seven_two {
     display: flex;
     flex-wrap: wrap;
 }

 .seven_two .seven_text {
     width: calc(25% - 75px);
     margin-right: 100px;
     text-align: center;
 }

 .seven_two .seven_text:nth-child(4n) {
     margin-right: 0;
 }

 /* ============responsive-start=============== */
 @media screen and (max-width:1300px) {
     .blan_banner img {
         width: calc(50% - 60px);
         position: unset;
     }

     .blanchard .blan_banner {
         padding-bottom: 100px;
     }

     .blan_banner .blan_text {
         width: 50%;
     }

     section.blanchard {
         padding-bottom: 60px;
     }

     .footer_headings {
         display: block !important;
         text-align: -webkit-center;
     }

     .footer_headings h3 {
         margin: 34px 0;
     }

     footer .logo {
         margin: 0;
     }

     .footer_one {
         padding-right: 73px;
     }

     footer .subscribe {
         width: 44%;
         margin: 34px 0;
     }

     .bottom_footer {
         display: block !important;

         text-align: -webkit-center;
     }
 }

 @media screen and (max-width:1200px) {
     section.blanchard {
         padding-bottom: 40px;
     }

     section.why {
         padding: 90px 0 100px 0;
     }

     section.vision {
         padding: 90px 0 80px 0;
     }

     section.developing {
         padding: 90px 0 100px 0;
     }

     section.our_people {
         padding: 90px 0;
     }

     section.working {
         padding: 90px 0;
     }

     section.awards {
         padding: 67px 0 90px 0;
     }

     section.local {
         padding: 90px 0;
     }

     .footer_one {
         padding-right: 53px;
     }
 }



 @media screen and (max-width:1024px) {

     h1 {
         font-size: 70px;
         line-height: 75px;
     }

     h2 {
         font-size: 45px;
         line-height: 50px;
     }

     h3 {
         font-size: 25px;
         line-height: 30px;
     }

     h4 {
         font-size: 20px;
         line-height: 25px;
     }

     h5 {
         font-size: 18px;
         line-height: 20px;
     }

     p {
         font-size: 18px;
         line-height: 20px;
     }

     a {
         font-size: 13px;
     }

     .orange_button a {
         padding: 17px 40px;
     }

     .blanchard .blan_head {
         padding: 30px 0 40px 0;
     }

     section.why {
         padding: 70px 0;
     }

     .why_content .why_text ul {
         margin-left: 13px;
     }

     section.vision {
         padding: 70px 0;
     }

     .vision .vision_text {
         margin: 0 0 20px 0;
     }

     section.developing {
         padding: 70px 0;
     }

     section.our_people {
         padding: 70px 0;
     }

     section.working {
         padding: 70px 0;
     }

     section.awards {
         padding: 50px 0 70px 0;
     }

     section.local {
         padding: 70px 0;
     }

     .hero_main .hero_text a:nth-child(2n) {
         padding: 14px 45px;
         font-size: 14px;
     }

     .hero_text p {
         margin: 30px 0 50px 0;
     }

     .working_main .main_text p {
         margin: 30px 0 50px 0;
     }

     .awards_head p {
         margin: 20px 0 22px 0;
         padding: 0 181px;
     }

     .local_head p {
         padding: 0 210px;
     }

     .footer_one {
         width: calc(50% - 50px);
         margin-right: 50px;
         padding-right: 0;
     }
         footer .subscribe {
        width: unset;
    }
 }

 @media screen and (max-width:768px) {
     h1 {
         font-size: 50px;
         line-height: 55px;
     }

     h2 {
         font-size: 35px;
         line-height: 35px;
     }

     h3 {
         font-size: 20px;
         line-height: 22px;
     }

     h4 {
         font-size: 18px;
         line-height: 20px;
     }

     h5 {
         font-size: 16px;
         line-height: 20px;
     }

     p {
         font-size: 16px;
         line-height: 20px;
     }

     a {
         font-size: 12px;
     }

     .orange_button {
         font-size: 16px;
     }

     .blan_banner img {
         width: 100%;
         position: unset;
         margin: 0 0 30px 0;
     }

     .blan_banner .blan_text {
         width: 100%;
     }

     .why_content .why_img {
         width: 100%;
     }

     .why_content .why_text {
         margin-right: 0;
         width: 100%;
         margin-bottom: 30px;
     }

     .vision h2 {
         font-size: 35px;
     }
     .our_text p {
    font-size: 16px;
}

     .vision h4,
     .vision h3 {
         margin-bottom: 10px;
     }

     .vision .mission_text p {
         padding: 10px 0 0 0;
     }

     .vision .value_head {
         margin: 20px 0;
     }

     .vision .mission_text {
         margin: 20px 0 20px 0;
     }

     .vision .value_text {
         width: 100%;
         margin-right: 0;
         margin-bottom: 15px;
     }

     .vision .bottom_text_vision {
         margin: 20px 0 0 0;
     }

     .people_content .our_image {
         width: 100%;
         margin-top: 30px;
     }

     .people_content .our_text {
         width: 100%;
         margin-right: 0;
     }

     .our_people .hero_text {
         width: 100%;
     }

     .our_people .hero_content {
         width: 100%;
         margin-bottom: 30px;
         margin-right: 0;
     }

     .working_main .main_text {
         margin-right: 0;
         width: 100%;
         margin-bottom: 30px;
     }

     .working_main .main_text p {
         margin: 20px 0 25px 0;
     }

     .working_main .work_image {
         width: 100%;
     }

     .people_content .our_text h2 {
         font-size: 35px;
     }

     .awards_head p {
         padding: 0;
     }

     .slider_box img:first-child {
         width: 149px;
         height: 174px;

     }
     .working_main .main_text a {
    padding: 18px 65px;
}
     .local_head p {
         padding: 0;
     }
     .seven_two .seven_text {
    width: 50%;
    margin-right: 0;
    margin-bottom: 25px;
}
         .footer_one {
            width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
 }

 @media screen and (max-width:450px) {
    h1 {
        font-size: 40px;
        line-height: 40px;
    }

    h2 {
        font-size: 28px;
        line-height: 28px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 12px;
    }

    span {
        font-size: 15px
    }
    .blanchard .blan_head {
         padding: 30px 0 30px 0;
     }

     section.why {
         padding: 40px 0;
     }

     .why_content .why_text ul {
         margin-left: 13px;
     }

     section.vision {
         padding: 40px 0;
     }

     .vision .vision_text {
         margin: 0 0 20px 0;
     }

     section.developing {
         padding: 40px 0;
     }

     section.our_people {
         padding: 40px 0;
     }

     section.working {
         padding: 40px 0;
     }

     section.awards {
         padding: 40px 0;
     }

     section.local {
         padding: 40px 0;
     }

    .orange_button {
        padding: 15px 35px !important;
    }
    .hero_main .hero_text a:nth-child(2n) {
    margin-left: 30px;
}
    .people_content .our_text h2 {
        font-size: 28px;
    }
        .vision h2 {
        font-size: 28px;
    }
        .blanchard .blan_banner {
        padding-bottom: 35px;
    }
 }
 @media screen and (max-width:375px){
    .hero_main .hero_text a:nth-child(2n) {
        padding: 14px 39px;
        font-size: 14px;
    }
        .hero_main .hero_text a:nth-child(2n) {
        margin-left: 0;
        margin-top: 20px;
    }
    section.awards a{
        padding: 14px 22px !important;
    }
 }